* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 30px;
  text-align: center;
  
}
body {
  margin: 20px auto 0;
  padding: 20;
  display: block;
  background: #BED0E9;
  font-family: 'Patrick Hand', cursive;


}
ul, ol {
  list-style-type: none;
  padding-left: 0;
 
}
li {
  border: 1px solid #cecece;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 10px;
  font-size: 1em;
}
button {
  background: rgb(255, 255, 255);
  padding: 0;
  border: 1px solid grey;
  border-radius: 5px;
  font-family: 'Patrick Hand', cursive;
}





/*=======media queries=====*/
@media screen and (min-width: 40rem) {
  html {
    font-size: 120%;
  }
  h1, h2, p, a, input, button, ol, ul {
    transition: all .2s linear; 
  }
}

@media screen and (min-width: 51rem) {
  html {
    font-size: 125%;
    line-height: 1.5;
  }
  h1, h2, p, a, input, button, ol, ul {
    transition: all .2s linear; 
  }
}
@media screen and (max-width: 600px) {
  #meals, #walks, #poops {
      width: 100%;
  }
}
